body {
  padding: 2rem;
}
.sizes {
  margin: 7px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  font-size: 10px;
  height: 2.6rem;
  width: 2.6rem;
  border: none;
}

.free {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
